In [208]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import platform
import folium
import json
import warnings
warnings.simplefilter(action = "ignore", category = FutureWarning)
from folium.features import Choropleth

In [169]:
from matplotlib import font_manager, rc

%matplotlib inline

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print('Unknown system')

In [229]:
pop_data = pd.read_csv('pop_data.csv')
pop_data['계']

0     11,908
1     11,382
2     17,629
3     12,604
4     21,216
5     20,374
6      8,475
7     15,338
8      6,487
9      4,145
10     6,539
11     8,413
12    14,763
13    13,842
14     8,152
15    12,532
16    49,996
17    30,317
18    54,145
19    18,592
20    29,335
21     7,985
22     9,345
23    12,233
24     8,196
Name: 계, dtype: object

In [230]:
pop_data.head()

,구분,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,...,여자.5,계.5,남자.6,여자.6,계.6,남자.7,여자.7,계.7,남자.8,여자.8
0,종로구,"11,908","5,289","6,619","10,979","4,913","6,066","1,479",853,626,...,"1,024","3,576","1,952","1,624",536,171,365,393,205,188
1,중구,"11,382","5,219","6,163","10,265","4,804","5,461","1,781",985,796,...,"1,338","3,616","1,961","1,655",640,185,455,477,230,247
2,용산구,"17,629","9,379","8,250","16,005","8,712","7,293","2,051","1,268",783,...,"1,520","9,090","5,345","3,745",770,244,526,854,423,431
3,성동구,"12,604","5,836","6,768","10,436","5,042","5,394","1,901","1,196",705,...,"1,286","2,827","1,492","1,335","1,170",297,873,998,497,501
4,광진구,"21,216","9,341","11,875","18,399","8,323","10,076","3,616","1,981","1,635",...,"2,571","4,950","2,562","2,388","1,733",477,"1,256","1,084",541,543

In [232]:
pop_data['구별'] = pop_data['구분']
pop_data.sort_values(by='구별').head()

,구분,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,...,계.5,남자.6,여자.6,계.6,남자.7,여자.7,계.7,남자.8,여자.8,구별
22,강남구,"9,345","4,406","4,939","7,655","3,706","3,949","1,653",985,668,...,"1,820",991,829,665,158,507,"1,025",542,483,강남구
24,강동구,"8,196","3,604","4,592","5,887","2,791","3,096","1,454",897,557,...,"1,536",782,754,"1,174",227,947,"1,135",586,549,강동구
8,강북구,"6,487","2,443","4,044","4,443","1,719","2,724",618,345,273,...,"1,381",643,738,964,188,776,"1,080",536,544,강북구
15,강서구,"12,532","5,538","6,994","8,682","4,114","4,568","1,699","1,174",525,...,"2,591","1,331","1,260","2,074",540,"1,534","1,776",884,892,강서구
20,관악구,"29,335","13,307","16,028","24,475","11,466","13,009","5,368","3,141","2,227",...,"6,972","3,505","3,467","3,346","1,071","2,275","1,514",770,744,관악구

In [234]:
data_gu = pd.pivot_table(pop_data, index='구별', aggfunc=np.sum)
data_gu.head()

,계,계.1,계.2,계.3,계.4,계.5,계.6,계.7,구분,남자,...,소계,여자,여자.1,여자.2,여자.3,여자.4,여자.5,여자.6,여자.7,여자.8
구별,,,,,,,,,,,,,,,,,,,,,
강남구,"9,345","7,655","1,653","1,032",243,"1,820",665,"1,025",강남구,"4,406",...,"2,907","4,939","3,949",668,649,182,"1,621",829,507,483
강동구,"8,196","5,887","1,454",952,84,"1,536","1,174","1,135",강동구,"3,604",...,"1,861","4,592","3,096",557,747,49,989,754,947,549
강북구,"6,487","4,443",618,886,511,"1,381",964,"1,080",강북구,"2,443",...,"1,047","4,044","2,724",273,738,329,646,738,776,544
강서구,"12,532","8,682","1,699","1,590",151,"2,591","2,074","1,776",강서구,"5,538",...,"2,651","6,994","4,568",525,"1,208",81,"1,494","1,260","1,534",892
관악구,"29,335","24,475","5,368","1,991","2,115","6,972","3,346","1,514",관악구,"13,307",...,"8,029","16,028","13,009","2,227","1,375","1,327","4,613","3,467","2,275",744

In [235]:
geo_path = 'json/skorea-municipalities-2018-topo.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

map = folium.Map(location=[37.5392, 126.982], zoom_start=11, tiles='OpenStreetMap')

map.choropleth(geo_str=geo_str,
               data = data_gu['계'],
               columns = [data_gu.index, data_gu['계']],
               fill_color = 'YlGnBu',
               key_on='feature.id')
folium.LayerControl().add_to(map)
map

TypeError: __init__() missing 1 required positional argument: 'geo_data'