In [1]:
import json
import requests
import pandas as pd
import numpy as np
from PIL import Image

import matplotlib.pyplot as plt
import seaborn as sns
import platform
import folium
import json
import warnings
warnings.simplefilter(action = "ignore", category = FutureWarning)

In [2]:
from matplotlib import font_manager, rc

%matplotlib inline

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print('Unknown system')

In [3]:
def getLatLng(addr):
      url = 'https://dapi.kakao.com/v2/local/search/address.json?query='+addr
      headers = {"Authorization": "KakaoAK fa144b983fda10a3dc2a20aa1551cbdb"}
      result = json.loads(str(requests.get(url,headers=headers).text)) 
      match_first = result['documents'][0]['address']
      return float(match_first['y']),float(match_first['x'])

In [4]:
addr = ['서울특별시 동작구 흑석동 339', '서울특별시 영등포구 신길1동 53-12']
len(addr)

2

In [5]:
a = '서울특별시 영등포구 신길1동'
getLatLng(a)

(37.51114521078089, 126.92141365567181)

In [6]:
addr = ['서울특별시 동작구 흑석동 339', '서울특별시 영등포구 신길1동', '서울특별시 서초구 서초3동 1507-66',
       '서울특별시 금천구 독산3동 955', '서울특별시 서대문구 창천동 359']
coor_list = []

for i in range(len(addr)):
        coor_list.append(getLatLng(addr[i]))
        print(coor_list[i])

(37.50219728715107, 126.95857632056587)
(37.51114521078089, 126.92141365567181)
(37.48685129913919, 127.0046675212498)
(37.477399141124025, 126.90023979132597)
(37.56058953657444, 126.92870947055147)

In [7]:
# m1 = folium.Map(location=[37.5242135, 127.0016985], zoom_start=11)
# folium.CircleMarker([37.511599, 126.917118], radius=10, popup='circle',
#                    fill_color='#3B0B0B').add_to(m1)
# # folium.RegularPolygonMarker([37.51,127.01], popup='1', fill_color='#3B0B0B',
# #                            number_of_sides=4, radius=10).add_to(m1)
# folium.CircleMarker([37.541599, 126.917118], radius=10, popup='circle',
#                    fill_color='#3B0B0B').add_to(m1)
# folium.CircleMarker([37.531599, 126.917118], radius=10, popup='circle',
#                    fill_color='#3B0B0B').add_to(m1)
# folium.CircleMarker([37.521599, 126.917118], radius=10, popup='circle',
#                    fill_color='#3B0B0B').add_to(m1)
# folium.Marker(location=[37.5502, 126.982], popup="Marker A",
#              icon=folium.Icon(icon='cloud')).add_to(m1)
# folium.Marker(location=[37.5411, 127.0107], popup="한남동",
#              icon=folium.Icon(color='red')).add_to(m1)
# m1.save('C:/Users/KSJ/Documents/국토부해커톤/Code/m1.html')
# m1

In [8]:
img = Image.open('home.png')
print(img.size)

(105, 142)

In [181]:
map = folium.Map(location=[37.5242135, 127.0016985], zoom_start=11)
for i in range(len(addr)):
    folium.Marker(location=coor_list[i], popup=i,
             icon=folium.Icon(color='red')).add_to(map)
map.save('C:/Users/KSJ/Documents/국토부해커톤/Code/map.html')
map

In [11]:
trans = pd.read_csv('transportation.csv', header=None)

In [129]:
trans = pd.read_csv('transportation.csv')
crime = pd.read_csv('crime_rate.csv', encoding='euc-kr' )
facil = pd.read_csv('facilities.csv', encoding='euc-kr' )
young = pd.read_csv('young_rate.csv')

In [130]:
trans.head()

    행정구역별   Unnamed: 1
0   행정구역별          이용률
1  　　　종로구  32.84512412
2   　　　중구  36.25232638
3  　　　용산구  35.51496622
4  　　　성동구  39.33622565

In [131]:
trans = trans.rename(columns = {'Unnamed: 1':'이용률'})
trans

      행정구역별          이용률
0     행정구역별          이용률
1    　　　종로구  32.84512412
2     　　　중구  36.25232638
3    　　　용산구  35.51496622
4    　　　성동구  39.33622565
5    　　　광진구  40.31696148
6   　　　동대문구  35.55974783
7    　　　중랑구  39.08743291
8    　　　성북구  38.41979604
9    　　　강북구  38.55541539
10   　　　도봉구  39.33721575
11   　　　노원구  39.32748226
12   　　　은평구  41.85358998
13  　　　서대문구   38.3946378
14   　　　마포구  38.70098813
15   　　　양천구  32.41830347
16   　　　강서구  39.88773847
17   　　　구로구  38.91291895
18   　　　금천구  32.03027841
19  　　　영등포구  40.04553923
20   　　　동작구  40.37807897
21   　　　관악구  41.84849379
22   　　　서초구  32.67643401
23   　　　강남구  30.79141231
24   　　　송파구  34.10420257
25   　　　강동구  35.23972018

In [132]:
trans = trans.iloc[1:]
trans

      행정구역별          이용률
1    　　　종로구  32.84512412
2     　　　중구  36.25232638
3    　　　용산구  35.51496622
4    　　　성동구  39.33622565
5    　　　광진구  40.31696148
6   　　　동대문구  35.55974783
7    　　　중랑구  39.08743291
8    　　　성북구  38.41979604
9    　　　강북구  38.55541539
10   　　　도봉구  39.33721575
11   　　　노원구  39.32748226
12   　　　은평구  41.85358998
13  　　　서대문구   38.3946378
14   　　　마포구  38.70098813
15   　　　양천구  32.41830347
16   　　　강서구  39.88773847
17   　　　구로구  38.91291895
18   　　　금천구  32.03027841
19  　　　영등포구  40.04553923
20   　　　동작구  40.37807897
21   　　　관악구  41.84849379
22   　　　서초구  32.67643401
23   　　　강남구  30.79141231
24   　　　송파구  34.10420257
25   　　　강동구  35.23972018

In [138]:
trans_=trans

In [133]:
crime.head()

   행정구역별(1) 2018
0  행정구역별(1)   범죄
1    서울 종로구    5
2     서울 중구    5
3    서울 용산구    4
4    서울 성동구    3

In [136]:
crime = crime.rename(columns = {'행정구역별(1)':'행정구역별', '2018':'범죄'})
crime

       행정구역별  범죄
0   행정구역별(1)  범죄
1     서울 종로구   5
2      서울 중구   5
3     서울 용산구   4
4     서울 성동구   3
5     서울 광진구   4
6    서울 동대문구   4
7     서울 중랑구   4
8     서울 성북구   2
9     서울 강북구   3
10    서울 도봉구   1
11    서울 노원구   2
12    서울 은평구   2
13   서울 서대문구   3
14    서울 마포구   4
15    서울 양천구   3
16    서울 강서구   3
17    서울 구로구   4
18    서울 금천구   4
19   서울 영등포구   4
20    서울 동작구   3
21    서울 관악구   3
22    서울 서초구   3
23    서울 강남구   4
24    서울 송파구   3
25    서울 강동구   3

In [137]:
crime_ = crime.iloc[1:]
crime_

      행정구역별 범죄
1    서울 종로구  5
2     서울 중구  5
3    서울 용산구  4
4    서울 성동구  3
5    서울 광진구  4
6   서울 동대문구  4
7    서울 중랑구  4
8    서울 성북구  2
9    서울 강북구  3
10   서울 도봉구  1
11   서울 노원구  2
12   서울 은평구  2
13  서울 서대문구  3
14   서울 마포구  4
15   서울 양천구  3
16   서울 강서구  3
17   서울 구로구  4
18   서울 금천구  4
19  서울 영등포구  4
20   서울 동작구  3
21   서울 관악구  3
22   서울 서초구  3
23   서울 강남구  4
24   서울 송파구  3
25   서울 강동구  3

In [139]:
facil.head()

  행정구역별   2017
0   종로구  41.35
1    중구  19.09
2   용산구   6.98
3   성동구   4.59
4   광진구   2.52

In [168]:
facil_ = facil

In [140]:
young.head()

  행정구역별(읍면동)      청년비율
0     　　　종로구  0.247207
1      　　　중구  0.212634
2     　　　용산구  0.190716
3     　　　성동구  0.208697
4     　　　광진구  0.233334

In [141]:
young_ = young.rename(columns = {'행정구역별(읍면동)':'행정구역별', '청년비율':'청년비율'})

In [145]:
trans_

      행정구역별          이용률
1    　　　종로구  32.84512412
2     　　　중구  36.25232638
3    　　　용산구  35.51496622
4    　　　성동구  39.33622565
5    　　　광진구  40.31696148
6   　　　동대문구  35.55974783
7    　　　중랑구  39.08743291
8    　　　성북구  38.41979604
9    　　　강북구  38.55541539
10   　　　도봉구  39.33721575
11   　　　노원구  39.32748226
12   　　　은평구  41.85358998
13  　　　서대문구   38.3946378
14   　　　마포구  38.70098813
15   　　　양천구  32.41830347
16   　　　강서구  39.88773847
17   　　　구로구  38.91291895
18   　　　금천구  32.03027841
19  　　　영등포구  40.04553923
20   　　　동작구  40.37807897
21   　　　관악구  41.84849379
22   　　　서초구  32.67643401
23   　　　강남구  30.79141231
24   　　　송파구  34.10420257
25   　　　강동구  35.23972018

In [152]:
crime_

      행정구역별 범죄
1    서울 종로구  5
2     서울 중구  5
3    서울 용산구  4
4    서울 성동구  3
5    서울 광진구  4
6   서울 동대문구  4
7    서울 중랑구  4
8    서울 성북구  2
9    서울 강북구  3
10   서울 도봉구  1
11   서울 노원구  2
12   서울 은평구  2
13  서울 서대문구  3
14   서울 마포구  4
15   서울 양천구  3
16   서울 강서구  3
17   서울 구로구  4
18   서울 금천구  4
19  서울 영등포구  4
20   서울 동작구  3
21   서울 관악구  3
22   서울 서초구  3
23   서울 강남구  4
24   서울 송파구  3
25   서울 강동구  3

In [176]:
res = pd.merge(trans_, facil_, how='right', on='행정구역별')

In [177]:
res = pd.merge(res, young_, how='right', on='행정구역별')

In [178]:
res = pd.merge(res, crime_, how='right', on='행정구역별')

In [175]:
res

   행정구역별  이용률  2017_x  2017_y
0    종로구  NaN   41.35   41.35
1     중구  NaN   19.09   19.09
2    용산구  NaN    6.98    6.98
3    성동구  NaN    4.59    4.59
4    광진구  NaN    2.52    2.52
5   동대문구  NaN    2.85    2.85
6    중랑구  NaN    0.98    0.98
7    성북구  NaN    4.28    4.28
8    강북구  NaN    3.70    3.70
9    도봉구  NaN    3.49    3.49
10   노원구  NaN    2.71    2.71
11   은평구  NaN    2.47    2.47
12  서대문구  NaN    4.16    4.16
13   마포구  NaN    3.73    3.73
14   양천구  NaN    1.91    1.91
15   강서구  NaN    2.33    2.33
16   구로구  NaN    3.65    3.65
17   금천구  NaN    2.55    2.55
18  영등포구  NaN    2.98    2.98
19   동작구  NaN    1.77    1.77
20   관악구  NaN    2.19    2.19
21   서초구  NaN    3.85    3.85
22   강남구  NaN    5.03    5.03
23   송파구  NaN    3.01    3.01
24   강동구  NaN    2.29    2.29