In [2]:
import pandas as pd
from pandas import read_hdf
from pandas import HDFStore,DataFrame
import datetime

In [3]:
use_cols = list(range(0, 50))
use_cols.extend([57, 58, 59, 60, 74])
print(use_cols)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 57, 58, 59, 60, 74]

In [48]:
in_path = "" #Path where the large file is
out_path = "" #Path to save the pickle files to
chunk_size = 40000 #size of chunks relies on your available memory
separator = "|"

reader = pd.read_csv('mart_djy_03_info.txt',sep=separator,chunksize=chunk_size, 
                    low_memory=False, encoding='cp949', header=None)    

df_list = []
i=1
for chunk in reader:
    flag = False
    #print(chunk.columns)
    chunk = chunk[use_cols]
    #print(chunk.iloc[-1])
    chunk['si'] = chunk[5].apply(lambda x: x[:2])
    chunk = chunk.loc[chunk.si == '서울']
    
    if len(chunk.axes[0]) > 0:
        print('append')
        df_list.append(chunk)
    
    """
    
    if chunk.iloc[0][5][:2] == '서울' or chunk.iloc[-1][5][:2] == '서울':
        flag = True
    i+=1
    if flag:
        print('append')
        df_list.append(chunk)
    else:
        print('continue. index :', i)
        continue
    """

append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append
append

In [49]:
df = pd.concat(df_list, sort=False)
print(df.shape)
df.head()

(614412, 56)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,57,58,59,60,74,si
31,11380-35135,1,일반,2,일반건축물,서울특별시 은평구 신사동 170-7번지,서울특별시 은평구 증산로17길 53-3,NaN,11380,10900.0,...,0,0,0.0,3.12,0.0,NaN,NaN,1.97112e+07,20120530,서울
37,11380-10206,1,일반,2,일반건축물,서울특별시 은평구 불광동 480-42번지,서울특별시 은평구 통일로92길 18,NaN,11380,10300.0,...,0,0,0.0,3.37,0.0,NaN,NaN,1.97612e+07,20120530,서울
43,11530-6198,1,일반,2,일반건축물,서울특별시 구로구 구로동 18-41번지,,NaN,11530,10200.0,...,0,0,0.0,31.07,0.0,NaN,NaN,1.9691e+07,20120530,서울
71,11530-1106,1,일반,2,일반건축물,서울특별시 구로구 구로동 산 119번지,,NaN,11530,10200.0,...,0,0,0.0,39.27,0.0,NaN,NaN,1.96409e+07,20120519,서울
75,11545-2865,1,일반,2,일반건축물,서울특별시 금천구 독산동 106번지,,NaN,11545,10200.0,...,0,0,0.0,76.03,0.0,NaN,NaN,1.97209e+07,20120530,서울

In [27]:
df['si'] = df[5].apply(lambda x: x[:2])
print(df.shape)
df.tail()

(1108999, 56)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,57,58,59,60,74,si
7748994,45740-100202482,1,일반,2,일반건축물,전라북도 장수군 산서면 오산리 911번지,전라북도 장수군 산서면 산성로 259-5,NaN,45740,31029,...,0,0,0.0,97.38,0.0,2.01807e+07,20180801,20190124,20190219,전라
7748995,48330-100264663,1,일반,2,일반건축물,경상남도 양산시 상북면 석계리 63-3번지,경상남도 양산시 상북면 양주마을2길 19,NaN,48330,33021,...,0,0,0.0,128.00,0.0,2.01304e+07,20140321,20160118,20190219,경상
7748996,47130-100338393,1,일반,2,일반건축물,경상북도 경주시 감포읍 나정리 275번지,경상북도 경주시 감포읍 나정길 25-50,NaN,47130,25024,...,0,0,0.0,118.50,0.0,2.01808e+07,20180830,20190212,20190213,경상
7748997,43750-100229905,1,일반,2,일반건축물,충청북도 진천군 광혜원면 죽현리 1260번지,충청북도 진천군 광혜원면 죽현길 114,NaN,43750,37024,...,0,0,0.0,91.00,138.0,2.01709e+07,20171025,20180227,20190215,충청
7748998,11740-100249976,1,일반,2,일반건축물,서울특별시 강동구 암사동 453-6번지,서울특별시 강동구 고덕로24길 19-3,암사분기국사,11740,10700,...,0,0,0.0,148.83,12.0,2.01802e+07,20180312,20190214,20190218,서울

In [28]:
df = df.loc[df.si == '서울']
print(df.shape)
df.tail()

(90952, 56)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,57,58,59,60,74,si
7748903,11380-9962,1,일반,2,일반건축물,서울특별시 은평구 불광동 445-353번지,서울특별시 은평구 통일로92길 39-14,NaN,11380,10300,...,0,0,0.0,81.39,0.0,NaN,NaN,19731227,20190219,서울
7748907,11350-100213353,1,일반,2,일반건축물,서울특별시 노원구 하계동 255-5번지,,충숙근린공원 공중화장실,11350,10400,...,0,0,0.0,32.32,0.0,NaN,20181002,NaN,20190221,서울
7748938,11500-21030,1,일반,2,일반건축물,서울특별시 강서구 공항동 18-44번지,서울특별시 강서구 방화대로21나길 16,NaN,11500,10800,...,0,0,0.0,211.77,0.0,1.99005e+07,19900809,19910212,20190222,서울
7748984,11215-100247070,2,집합,3,표제부,서울특별시 광진구 중곡동 97-5번지,서울특별시 광진구 자양로53길 47,NaN,11215,10100,...,0,0,0.0,516.56,69.5,2.01808e+07,20180911,20190215,20190216,서울
7748998,11740-100249976,1,일반,2,일반건축물,서울특별시 강동구 암사동 453-6번지,서울특별시 강동구 고덕로24길 19-3,암사분기국사,11740,10700,...,0,0,0.0,148.83,12.0,2.01802e+07,20180312,20190214,20190218,서울

In [50]:
df = df.drop('si', 1)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,57,58,59,60,74
31,11380-35135,1,일반,2,일반건축물,서울특별시 은평구 신사동 170-7번지,서울특별시 은평구 증산로17길 53-3,NaN,11380,10900.0,...,0,0,0,0.0,3.12,0.0,NaN,NaN,1.97112e+07,20120530
37,11380-10206,1,일반,2,일반건축물,서울특별시 은평구 불광동 480-42번지,서울특별시 은평구 통일로92길 18,NaN,11380,10300.0,...,0,0,0,0.0,3.37,0.0,NaN,NaN,1.97612e+07,20120530
43,11530-6198,1,일반,2,일반건축물,서울특별시 구로구 구로동 18-41번지,,NaN,11530,10200.0,...,0,0,0,0.0,31.07,0.0,NaN,NaN,1.9691e+07,20120530
71,11530-1106,1,일반,2,일반건축물,서울특별시 구로구 구로동 산 119번지,,NaN,11530,10200.0,...,0,0,0,0.0,39.27,0.0,NaN,NaN,1.96409e+07,20120519
75,11545-2865,1,일반,2,일반건축물,서울특별시 금천구 독산동 106번지,,NaN,11545,10200.0,...,0,0,0,0.0,76.03,0.0,NaN,NaN,1.97209e+07,20120530

In [51]:
df.columns = ['관리건축물대장pk', '대장구분코드', '대장구분코드명', '대장종류코드', '대장종류코드명', 
              '구주소', '도로명주소', '건물명', '시군구코드', '법정동코드', '대지구분코드', 
              '번', '지', '특수지명', '블록', '로트', '외필지수', '새주소도로코드', '새주소법정동코드', 
              '새주소지상지하코드', '새주소본번', '새주소부번', '동명칭', '주부속구분코드', '주부속구분코드명', '대지면적', 
              '건축면적', '건폐율', '연면적', '용적률산정연면적', '용적률', '구조코드', '구조코드명', 
              '기타구조', '주용도코드', '주용도코드명', '기타용도', '지붕코드', '지붕코드명', 
              '기타지붕', '세대수', '가구수', '높이', '지상층수', '지하층수', '승용승강기수', 
              '비상용승강기수', '부속건축물수', '부속건축물면적', '총동연면적', '옥외자주식면적', '허가일', 
              '착공일', '사용승인일', '생성일자']

In [52]:
df.head()

,관리건축물대장pk,대장구분코드,대장구분코드명,대장종류코드,대장종류코드명,구주소,도로명주소,건물명,시군구코드,법정동코드,...,승용승강기수,비상용승강기수,부속건축물수,부속건축물면적,총동연면적,옥외자주식면적,허가일,착공일,사용승인일,생성일자
31,11380-35135,1,일반,2,일반건축물,서울특별시 은평구 신사동 170-7번지,서울특별시 은평구 증산로17길 53-3,NaN,11380,10900.0,...,0,0,0,0.0,3.12,0.0,NaN,NaN,1.97112e+07,20120530
37,11380-10206,1,일반,2,일반건축물,서울특별시 은평구 불광동 480-42번지,서울특별시 은평구 통일로92길 18,NaN,11380,10300.0,...,0,0,0,0.0,3.37,0.0,NaN,NaN,1.97612e+07,20120530
43,11530-6198,1,일반,2,일반건축물,서울특별시 구로구 구로동 18-41번지,,NaN,11530,10200.0,...,0,0,0,0.0,31.07,0.0,NaN,NaN,1.9691e+07,20120530
71,11530-1106,1,일반,2,일반건축물,서울특별시 구로구 구로동 산 119번지,,NaN,11530,10200.0,...,0,0,0,0.0,39.27,0.0,NaN,NaN,1.96409e+07,20120519
75,11545-2865,1,일반,2,일반건축물,서울특별시 금천구 독산동 106번지,,NaN,11545,10200.0,...,0,0,0,0.0,76.03,0.0,NaN,NaN,1.97209e+07,20120530

In [60]:
stat = df.groupby('기타용도').agg({'관리건축물대장pk': 'count'}).sort_values(['관리건축물대장pk'], ascending=[False])

In [64]:
stat.head(50)

                 관리건축물대장pk
기타용도
주택                  134416
단독주택                 42782
다세대주택                33546
근린생활시설               32788
근린생활시설, 주택           20492
공동주택                 17559
다가구용단독주택(5가구)        11351
아파트                  10088
제2종근린생활시설             9980
다가구용단독주택              8750
공동주택(다세대주택)           8129
다가구주택                 7709
공동주택(아파트)             7347
주택, 근린생활시설            7245
다가구용단독주택(4가구)         6345
연립주택                  6173
주거시설                  5890
다가구용단독주택(3가구)         5276
점포                    4433
주택, 점포                4295
다가구용단독주택(7가구)         3788
다가구주택(5가구)            3667
근린생활시설, 단독주택          3316
제1종근린생활시설             3176
교육연구시설                3164
다가구용단독주택(6가구)         2889
근린생활시설,주택             2715
경비실                   2558
단독주택(다가구주택)           2516
근린생활시설및주택             2352
다가구용 단독주택(5가구)        2074
영업용                   1946
근린생활시설 및 주택           1911
단독주택(다중주택)            1822
다가구주택(4가구)            1813
다가구주택(3가구)            1798
다세대주택(8세대)            1787
영업                    1773
도시형생활주택(단지형다세대)       1748
업무시설                  1623
다가구용 단독주택             1579
다가구주택(6가구)            1570
제1,2종근린생활시설           1426
공장                    1387
근린생활시설, 다가구주택         1347
다가구주택(7가구)            1244
주택,근린생활시설             1241
공동주택,다세대주택            1233
다가구용단독주택(8가구)         1210
교육연구및복지시설             1209

In [58]:
df.to_csv('build_info.csv', encoding='cp949', index=False)

In [ ]:
import pickle
with open('build_info.pk', 'wb') as f:
        pickle.dump(df, f)

In [4]:
df = pd.read_csv('build_info.csv', encoding='cp949')

c:\programdata\anaconda3\envs\geo\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (15,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
print(len(df.index))
df = df.dropna(subset=['기타용도'])
print(len(df.index))

614412
614206

In [37]:
print(len(df.index))
df = df.dropna(subset=['기타용도'])
print(len(df.index))

544238
544238

In [38]:
df['flag'] = df['기타용도'].apply(lambda x: 1 if '다세대' in x else 0)

In [39]:
df['flag2'] = df['기타용도'].apply(lambda x: 1 if '다가구' in x else 0)

In [40]:
df['flag3'] = df['기타용도'].apply(lambda x: 1 if '단독' in x else 0)

In [41]:
df['flag4'] = df['기타용도'].apply(lambda x: 1 if '연립' in x else 0)

In [42]:
df['flag5'] = df['기타용도'].apply(lambda x: 1 if '고시원' in x else 0)

In [43]:
df['res'] = df['flag'] + df['flag2'] + df['flag3'] + df['flag4'] + df['flag5'] + df['gosi']

In [44]:
df = df.drop(['flag', 'flag2', 'flag3', 'flag4', 'flag5', 'seq'], 1)

In [45]:
fdf = df.loc[df.res > 0]
print(fdf.shape)

(237536, 57)

In [97]:
stat = fdf.groupby('기타용도').agg({'관리건축물대장pk': 'count'}).sort_values(['관리건축물대장pk'], ascending=[False])

In [98]:
stat.head(90)

                       관리건축물대장pk
기타용도
단독주택                       42782
다세대주택                      33546
다가구용단독주택(5가구)              11351
다가구용단독주택                    8750
공동주택(다세대주택)                 8129
다가구주택                       7709
다가구용단독주택(4가구)               6345
연립주택                        6173
다가구용단독주택(3가구)               5276
다가구용단독주택(7가구)               3788
다가구주택(5가구)                  3667
근린생활시설, 단독주택                3316
다가구용단독주택(6가구)               2889
단독주택(다가구주택)                 2516
다가구용 단독주택(5가구)              2074
단독주택(다중주택)                  1822
다가구주택(4가구)                  1813
다가구주택(3가구)                  1798
다세대주택(8세대)                  1787
도시형생활주택(단지형다세대)             1748
다가구용 단독주택                   1579
다가구주택(6가구)                  1570
근린생활시설, 다가구주택               1347
다가구주택(7가구)                  1244
공동주택,다세대주택                  1233
다가구용단독주택(8가구)               1210
공동주택(다세대)                   1004
다가구용 단독주택(4가구)               971
단독주택, 근린생활시설                 920
다가구주택, 근린생활시설                914
...                          ...
다가구용단독주택(10가구)               415
다세대주택 및 근린생활시설               410
단독주택(다가구)                    407
다세대주택,근린생활시설                 398
다가구용단독주택, 근린생활시설             387
다가구용단독주택(11가구)               386
다가구주택(5)                     384
다가구주택 및 근린생활시설               381
다가구주택(2가구)                   370
근린생활시설, 다가구용단독주택(3가구)        361
단독주택,다가구용(5가구)               356
다가구용주택(4가구)                  354
근린생활시설및단독주택                  348
공동주택(연립주택)                   345
다세대주택(도시형생활주택)               332
제2종근린생활시설(고시원)               328
근린생활시설, 다세대주택                312
근린생활시설 및 다세대주택               295
단독주택(4가구)                    287
다가구용단독주택(7)                  275
다가구용 단독주택(8가구)               274
근린생활시설, 단독주택(1가구)            264
근린생활시설, 다가구주택(3가구)           263
다가구주택(9가구)                   261
단독주택 및 근린생활시설                258
다세대주택,제2종근린생활시설              252
공동주택(다세대주택),근린생활시설           248
근린생활시설, 다가구주택(2가구)           241
다가구용단독주택(2가구), 근린생활시설        241
단독주택,다가구용(4가구)               232

[90 rows x 1 columns]

In [47]:
fdf.head(1)

,관리건축물대장pk,대장구분코드,대장구분코드명,대장종류코드,대장종류코드명,구주소,도로명주소,건물명,시군구코드,법정동코드,...,부속건축물수,부속건축물면적,총동연면적,옥외자주식면적,허가일,착공일,사용승인일,생성일자,res,gosi
13,11380-15707,1,일반,2,일반건축물,서울특별시 은평구 갈현동 486-2번지,서울특별시 은평구 연서로21길 24-21,NaN,11380,10400.0,...,0,0.0,425.52,0.0,19910307,NaN,19910911.0,20120630,2,0

In [46]:
fdf.to_csv('build_info_filter.csv', encoding='cp949', index=False)

In [16]:
gs = pd.read_csv('gosi.csv', encoding='cp949')
print(gs.shape)
gs.head()

(5558, 5)

   연번                 상호    업종                법정동 주소           도로명 주소
0   1              UD원룸텔  고시원업    서울특별시 종로구 관수동 21-2  수표로18길 15 유덕빌딩
1   2            성대으뜸고시원  고시원업  서울특별시 종로구 명륜3가 1-204         명륜길 40
2   3         원룸텔경복궁굿스테이  고시원업   서울특별시 종로구 필운동 278-5   사직로10길 8 세일빌딩
3   4  리빙파크원룸텔(완공시 상호변경)  고시원업  서울특별시 종로구 숭인동 200-25         종로 384
4   5              로얄팰리스  고시원업  서울특별시 종로구 숭인동 181-25       종로65길 37

In [17]:
gs['addr'] = gs['법정동 주소'].apply(lambda x: x + '번지')

In [105]:
gs['addr'] = gs['법정동 주소'].apply(lambda x: ' '.join(x.split(' ')[:-1]))

In [102]:
gs['bonji'] = gs['법정동 주소'].apply(lambda x: x.split(' ')[-1])

In [133]:
gs.head()

,연번,상호,업종,법정동 주소,도로명 주소,addr
0,1,UD원룸텔,고시원업,서울특별시 종로구 관수동 21-2,수표로18길 15 유덕빌딩,서울특별시 종로구 관수동 21-2번지
1,2,성대으뜸고시원,고시원업,서울특별시 종로구 명륜3가 1-204,명륜길 40,서울특별시 종로구 명륜3가 1-204번지
2,3,원룸텔경복궁굿스테이,고시원업,서울특별시 종로구 필운동 278-5,사직로10길 8 세일빌딩,서울특별시 종로구 필운동 278-5번지
3,4,리빙파크원룸텔(완공시 상호변경),고시원업,서울특별시 종로구 숭인동 200-25,종로 384,서울특별시 종로구 숭인동 200-25번지
4,5,로얄팰리스,고시원업,서울특별시 종로구 숭인동 181-25,종로65길 37,서울특별시 종로구 숭인동 181-25번지

In [18]:
df['seq'] = df.index

In [19]:
res = pd.merge(df, gs, left_on='구주소', right_on='addr', how='inner')

In [20]:
len(res.index)

5468

In [136]:
res['dup'] = res['구주소'].duplicated()

In [137]:
res.loc[res['dup'] == True].count

<bound method DataFrame.count of             관리건축물대장pk  대장구분코드 대장구분코드명  대장종류코드 대장종류코드명  \
2         11290-11125       1      일반       2   일반건축물
3         11290-11123       1      일반       2   일반건축물
4         11290-11122       1      일반       2   일반건축물
5         11290-11121       1      일반       2   일반건축물
6         11290-11117       1      일반       2   일반건축물
7         11290-11119       1      일반       2   일반건축물
8         11290-11124       1      일반       2   일반건축물
9         11290-11118       1      일반       2   일반건축물
10        11290-11115       1      일반       2   일반건축물
11        11290-11116       1      일반       2   일반건축물
12        11290-11120       1      일반       2   일반건축물
31         11290-5995       1      일반       2   일반건축물
32    11290-100216052       1      일반       2   일반건축물
33         11290-6088       2      집합       3     표제부
34         11290-5993       1      일반       2   일반건축물
35         11290-5998       1      일반       2   일반건축물
36         11290-5994       1      일반       2   일반건축물
37         11290-6087       2      집합       3     표제부
38         11290-6085       2      집합       3     표제부
39         11290-6086       2      집합       3     표제부
56        11290-11457       1      일반       2   일반건축물
57        11290-11462       1      일반       2   일반건축물
58        11290-11464       1      일반       2   일반건축물
59        11290-11458       1      일반       2   일반건축물
60        11290-11461       1      일반       2   일반건축물
61        11290-11455       1      일반       2   일반건축물
62        11290-11456       1      일반       2   일반건축물
63        11290-11460       1      일반       2   일반건축물
64        11290-11459       1      일반       2   일반건축물
65        11290-11463       1      일반       2   일반건축물
...               ...     ...     ...     ...     ...
3048       11560-4777       1      일반       2   일반건축물
3050       11620-7758       1      일반       2   일반건축물
3065       11305-4327       1      일반       2   일반건축물
3154       11140-6066       1      일반       2   일반건축물
3218       11560-2691       1      일반       2   일반건축물
3221       11140-4095       1      일반       2   일반건축물
3286        11710-696       2      집합       3     표제부
3369       11530-1481       1      일반       2   일반건축물
3422       11230-2690       1      일반       2   일반건축물
3430       11530-2102       1      일반       2   일반건축물
3495      11140-24761       1      일반       2   일반건축물
3512       11740-1065       1      일반       2   일반건축물
3594       11740-1806       1      일반       2   일반건축물
3700       11590-2806       1      일반       2   일반건축물
3705      11650-11275       1      일반       2   일반건축물
3746       11620-3086       1      일반       2   일반건축물
3786      11230-15136       1      일반       2   일반건축물
3817        11680-433       2      집합       3     표제부
4023      11590-29675       1      일반       2   일반건축물
4057       11560-5034       1      일반       2   일반건축물
4058       11560-5036       1      일반       2   일반건축물
4060      11590-11577       1      일반       2   일반건축물
4467      11140-14185       2      집합       3     표제부
4559       11620-3540       1      일반       2   일반건축물
4711       11650-7934       1      일반       2   일반건축물
4736      11380-15456       1      일반       2   일반건축물
4816      11560-26085       1      일반       2   일반건축물
4853       11530-4094       1      일반       2   일반건축물
4926  11110-100191265       1      일반       2   일반건축물
5020      11200-20592       1      일반       2   일반건축물

                            구주소                     도로명주소        건물명  시군구코드  \
2       서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
3       서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
4       서울특별시 성북구 동선동3가 250-1번지    서울특별시 성북구 동소문로26마길 2-7        NaN  11290
5       서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
6       서울특별시 성북구 동선동3가 250-1번지      서울특별시 성북구 동소문로26마길 8        NaN  11290
7       서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
8       서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
9       서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
10      서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
11      서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
12      서울특별시 성북구 동선동3가 250-1번지                                  NaN  11290
31        서울특별시 성북구 동소문동1가 51번지      서울특별시 성북구 동소문로 21-21        NaN  11290
32        서울특별시 성북구 동소문동1가 51번지      서울특별시 성북구 동소문로 21-13        NaN  11290
33        서울특별시 성북구 동소문동1가 51번지     서울특별시 성북구 동소문로5길 12-7        NaN  11290
34        서울특별시 성북구 동소문동1가 51번지       서울특별시 성북구 동소문로3길 40        NaN  11290
35        서울특별시 성북구 동소문동1가 51번지     서울특별시 성북구 동소문로5길 12-9        NaN  11290
36        서울특별시 성북구 동소문동1가 51번지      서울특별시 성북구 동소문로 21-19        NaN  11290
37        서울특별시 성북구 동소문동1가 51번지       서울특별시 성북구 동소문로3길 36      타운힐빌딩  11290
38        서울특별시 성북구 동소문동1가 51번지      서울특별시 성북구 동소문로 21-15      한마음빌라  11290
39        서울특별시 성북구 동소문동1가 51번지     서울특별시 성북구 동소문로5길 12-6      엘 하우스  11290
56        서울특별시 성북구 동선동4가 294번지       서울특별시 성북구 동소문로27길 3        NaN  11290
57        서울특별시 성북구 동선동4가 294번지       서울특별시 성북구 동소문로27길 5        NaN  11290
58        서울특별시 성북구 동선동4가 294번지    서울특별시 성북구 동소문로27길 13-1        NaN  11290
59        서울특별시 성북구 동선동4가 294번지                                  NaN  11290
60        서울특별시 성북구 동선동4가 294번지       서울특별시 성북구 동소문로27길 1        NaN  11290
61        서울특별시 성북구 동선동4가 294번지                                  NaN  11290
62        서울특별시 성북구 동선동4가 294번지       서울특별시 성북구 동소문로27길 3        NaN  11290
63        서울특별시 성북구 동선동4가 294번지                                  NaN  11290
64        서울특별시 성북구 동선동4가 294번지    서울특별시 성북구 동소문로25길 6-10        NaN  11290
65        서울특별시 성북구 동선동4가 294번지                                  NaN  11290
...                         ...                       ...        ...    ...
3048  서울특별시 영등포구 영등포동4가 155-1번지      서울특별시 영등포구 영신로34길 10        NaN  11560
3050    서울특별시 관악구 신림동 103-213번지       서울특별시 관악구 서림11가길 18        NaN  11620
3065      서울특별시 강북구 미아동 197-9번지         서울특별시 강북구 도봉로 202        NaN  11305
3154      서울특별시 중구 충무로4가 90-1번지        서울특별시 중구 퇴계로 227-2        NaN  11140
3218   서울특별시 영등포구 영등포동 618-20번지      서울특별시 영등포구 영신로20가길 6        NaN  11560
3221     서울특별시 중구 회현동1가 133-6번지         서울특별시 중구 소공로3길 48        NaN  11140
3286        서울특별시 송파구 마천동 304번지       서울특별시 송파구 마천로57길 16  마천 금호 아파트  11710
3369     서울특별시 구로구 구로동 1125-3번지   서울특별시 구로구 디지털로32길 97-22        NaN  11530
3422     서울특별시 동대문구 장안동 459-1번지       서울특별시 동대문구 장한로6길 42        NaN  11230
3430    서울특별시 구로구 가리봉동 127-15번지                                  NaN  11530
3495          서울특별시 중구 중림동 62번지        서울특별시 중구 청파로103길 6        NaN  11140
3512      서울특별시 강동구 성내동 380-7번지     서울특별시 강동구 양재대로103길 25        NaN  11740
3594      서울특별시 강동구 천호동 402-8번지        서울특별시 강동구 구천면로 221        NaN  11740
3700      서울특별시 동작구 노량진동 50-2번지       서울특별시 동작구 장승배기로 164       원남빌딩  11590
3705      서울특별시 서초구 잠원동 19-10번지     서울특별시 서초구 신반포로47길 119        NaN  11650
3746     서울특별시 관악구 봉천동 1594-7번지          서울특별시 관악구 관악로 98        NaN  11620
3786    서울특별시 동대문구 이문동 291-32번지        서울특별시 동대문구 이문로 131  이문 291-32  11230
3817       서울특별시 강남구 청담동 49-8번지        서울특별시 강남구 도산대로 514        NaN  11680
4023     서울특별시 동작구 노량진동 40-39번지    서울특별시 동작구 노량진로12길 12-6        NaN  11590
4057     서울특별시 영등포구 영등포동5가 29번지     서울특별시 영등포구 영등포로37길 10        NaN  11560
4058     서울특별시 영등포구 영등포동5가 29번지     서울특별시 영등포구 영등포로37길 10        NaN  11560
4060    서울특별시 동작구 신대방동 607-28번지                                  NaN  11590
4467      서울특별시 중구 충무로3가 33-3번지           서울특별시 중구 충무로 20        NaN  11140
4559    서울특별시 관악구 봉천동 1673-16번지      서울특별시 관악구 남부순환로 1869        NaN  11620
4711       서울특별시 서초구 양재동 8-38번지      서울특별시 서초구 바우뫼로39길 92        NaN  11650
4736      서울특별시 은평구 갈현동 469-1번지        서울특별시 은평구 서오릉로 174       표준빌딩  11380
4816       서울특별시 영등포구 신길동 625번지      서울특별시 영등포구 신풍로25길 14        NaN  11560
4853       서울특별시 구로구 고척동 53-2번지                                  NaN  11530
4926        서울특별시 종로구 신영동 178번지    서울특별시 종로구 세검정로7가길 15-1        NaN  11110
5020  서울특별시 성동구 성수동2가 277-105번지      서울특별시 성동구 성수이로24길 50       희은빌딩  11200

        법정동코드  ...       생성일자  res      seq    연번                  상호    업종  \
2     11800.0  ...   20170218    0  1030834  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
3     11800.0  ...   20170218    0  1272216  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
4     11800.0  ...   20170218    2  1453136  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
5     11800.0  ...   20170218    0  2357920  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
6     11800.0  ...   20171205    1  2796293  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
7     11800.0  ...   20170218    0  3812585  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
8     11800.0  ...   20170218    0  3873528  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
9     11800.0  ...   20170218    1  5268614  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
10    11800.0  ...   20170218    0  6724839  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
11    11800.0  ...   20170218    1  6785513  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
12    11800.0  ...   20170218    0  7271159  1582  플로라의뜨락(구.산다와휘은고시원)  고시원업
31    10400.0  ...   20170214    0   482318  1527             엘하우스고시원  고시원업
32    10400.0  ...   20170214    2  1748223  1527             엘하우스고시원  고시원업
33    10400.0  ...   20170215    1  2899776  1527             엘하우스고시원  고시원업
34    10400.0  ...   20171205    2  3584900  1527             엘하우스고시원  고시원업
35    10400.0  ...   20170214    0  3866730  1527             엘하우스고시원  고시원업
36    10400.0  ...   20170214    0  4412788  1527             엘하우스고시원  고시원업
37    10400.0  ...   20171205    1  4555532  1527             엘하우스고시원  고시원업
38    10400.0  ...   20170215    1  6176025  1527             엘하우스고시원  고시원업
39    10400.0  ...   20170215    1  6540094  1527             엘하우스고시원  고시원업
56    11900.0  ...   20190423    0   377821  1570               산호웰빙텔  고시원업
57    11900.0  ...   20171205    0  1407150  1570               산호웰빙텔  고시원업
58    11900.0  ...   20170209    0  2824785  1570               산호웰빙텔  고시원업
59    11900.0  ...   20171118    0  3063288  1570               산호웰빙텔  고시원업
60    11900.0  ...   20171205    0  3099096  1570               산호웰빙텔  고시원업
61    11900.0  ...   20171118    0  5065042  1570               산호웰빙텔  고시원업
62    11900.0  ...   20190424    0  5884789  1570               산호웰빙텔  고시원업
63    11900.0  ...   20171118    0  6218905  1570               산호웰빙텔  고시원업
64    11900.0  ...   20190122    0  6534107  1570               산호웰빙텔  고시원업
65    11900.0  ...   20171118    0  7188963  1570               산호웰빙텔  고시원업
...       ...  ...        ...  ...      ...   ...                 ...   ...
3048  10500.0  ...   20180608    0  6042282  1123               열린고시원  고시원업
3050  10200.0  ...   20171205    0  4317167  3963                 룩시안  고시원업
3065  10100.0  ...   20171118    0  6461879  5594              인터넷고시원  고시원업
3154  13200.0  ...   20170201    0  7009371   211         투유레지던스 충무로점  고시원업
3218  10100.0  ...   20170728    0  4091641  1031              시티빌고시원  고시원업
3221  12100.0  ...   20171205    0  4249073   348            21세기 고시원  고시원업
3286  11400.0  ...   20171205    0  5895475  4534              서울 고시원  고시원업
3369  10200.0  ...   20171219    0  6447289  3117          구로게스트원룸텔해피  고시원업
3422  10600.0  ...   20171205    0  5464613   880               심플하우스  고시원업
3430  10300.0  ...   20190305    1  5751837  3266               선비고시원  고시원업
3495  17100.0  ...   20171205    0  6554883   289  소호원룸텔 충정로점(구.노블학사)  고시원업
3512  10800.0  ...   20171205    0  4803942  2687               현대고시원  고시원업
3594  10900.0  ...   20171205    0  5834855  2618               심플하우스  고시원업
3700  10100.0  ...   20171205    0  5286766  4908               더존하우스  고시원업
3705  10600.0  ...   20190321    0  6666681  2321           참꿈고시텔 신사점  고시원업
3746  10100.0  ...   20171205    0  6561752  3504           메이플하우스원룸텔  고시원업
3786  11000.0  ...   20170209    1  7253199   693               동운고시텔  고시원업
3817  10400.0  ...   20190209    0  7081836  2083    싱글하우스(구.사이버리아PC)  고시원업
4023  10100.0  ...   20170801    0  6278258  4968              프라임고시원  고시원업
4057  10600.0  ...   20171118    0  6280802  1030               명문고시원  고시원업
4058  10600.0  ...   20170322    0  7537551  1030               명문고시원  고시원업
4060  10900.0  ...   20171121    0  7009626  5140               제일고시원  고시원업
4467  15800.0  ...   20171205    0  6191040   245              마이홈원룸텔  고시원업
4559  10100.0  ...   20171118    0  6280992  3630               우등고시원  고시원업
4711  10200.0  ...   20171118    0  7494746  2360             팰리스 원룸텔  고시원업
4736  10400.0  ...   20171205    0  6619276  1744              하이빌원룸텔  고시원업
4816  13200.0  ...   20171205    0  6803038  1023              보라매고시텔  고시원업
4853  10600.0  ...   20190220    0  7445719  3331              마이홈고시원  고시원업
4926  18600.0  ...   20190416    0  7460714    97             할렐루야고시원  고시원업
5020  11500.0  ...   20171205    0  7283775  5767               루멧고시텔  고시원업

                       법정동 주소                  도로명 주소  \
2       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
3       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
4       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
5       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
6       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
7       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
8       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
9       서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
10      서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
11      서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
12      서울특별시 성북구 동선동3가 250-1         동소문로26마길 2-13
31        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
32        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
33        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
34        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
35        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
36        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
37        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
38        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
39        서울특별시 성북구 동소문동1가 51       동소문로 21-13 엘 하우스
56        서울특별시 성북구 동선동4가 294             동소문로27길 1
57        서울특별시 성북구 동선동4가 294             동소문로27길 1
58        서울특별시 성북구 동선동4가 294             동소문로27길 1
59        서울특별시 성북구 동선동4가 294             동소문로27길 1
60        서울특별시 성북구 동선동4가 294             동소문로27길 1
61        서울특별시 성북구 동선동4가 294             동소문로27길 1
62        서울특별시 성북구 동선동4가 294             동소문로27길 1
63        서울특별시 성북구 동선동4가 294             동소문로27길 1
64        서울특별시 성북구 동선동4가 294             동소문로27길 1
65        서울특별시 성북구 동선동4가 294             동소문로27길 1
...                       ...                     ...
3048  서울특별시 영등포구 영등포동4가 155-1         영신로34길 10 영남빌딩
3050    서울특별시 관악구 신림동 103-213        서림11가길 18 지혜고시원
3065      서울특별시 강북구 미아동 197-9               도봉로 202
3154      서울특별시 중구 충무로4가 90-1             퇴계로 227-2
3218   서울특별시 영등포구 영등포동 618-20             영신로20가길 6
3221     서울특별시 중구 회현동1가 133-6        소공로3길 48 보현한방병원
3286        서울특별시 송파구 마천동 304  마천로57길 18 마천 금호아파트 상가
3369     서울특별시 구로구 구로동 1125-3     디지털로32길 97-22 덕성빌딩
3422     서울특별시 동대문구 장안동 459-1            장한로6길 42  B동
3430    서울특별시 구로구 가리봉동 127-15        남부순환로105라길 6-9
3495          서울특별시 중구 중림동 62             청파로103길 6
3512      서울특별시 강동구 성내동 380-7       양재대로103길 25-1  1호
3594      서울특별시 강동구 천호동 402-8              구천면로 221
3700      서울특별시 동작구 노량진동 50-2         장승배기로 164 원남빌딩
3705      서울특별시 서초구 잠원동 19-10     신반포로47길 119 대원빌딩 1동
3746     서울특별시 관악구 봉천동 1594-7           관악로 98 삼정고시원
3786    서울특별시 동대문구 이문동 291-32               이문로 131
3817       서울특별시 강남구 청담동 49-8             도산대로 514  1
4023     서울특별시 동작구 노량진동 40-39     노량진로12길 12-6 대학독서실
4057     서울특별시 영등포구 영등포동5가 29            영등포로37길 10
4058     서울특별시 영등포구 영등포동5가 29            영등포로37길 10
4060    서울특별시 동작구 신대방동 607-28              시흥대로 650
4467      서울특별시 중구 충무로3가 33-3                충무로 20
4559    서울특별시 관악구 봉천동 1673-16       남부순환로 1869 우등고시원
4711       서울특별시 서초구 양재동 8-38        바우뫼로39길 92 호육빌딩
4736      서울특별시 은평구 갈현동 469-1         서오릉로 174 김동규빌딩
4816       서울특별시 영등포구 신길동 625         신풍로25길 14  지상3층
4853       서울특별시 구로구 고척동 53-2      경인로47길 49 마이홈 고시원
4926        서울특별시 종로구 신영동 178          세검정로7가길 15-1
5020  서울특별시 성동구 성수동2가 277-105        성수이로24길 50 상원빌딩

                           addr   dup
2       서울특별시 성북구 동선동3가 250-1번지  True
3       서울특별시 성북구 동선동3가 250-1번지  True
4       서울특별시 성북구 동선동3가 250-1번지  True
5       서울특별시 성북구 동선동3가 250-1번지  True
6       서울특별시 성북구 동선동3가 250-1번지  True
7       서울특별시 성북구 동선동3가 250-1번지  True
8       서울특별시 성북구 동선동3가 250-1번지  True
9       서울특별시 성북구 동선동3가 250-1번지  True
10      서울특별시 성북구 동선동3가 250-1번지  True
11      서울특별시 성북구 동선동3가 250-1번지  True
12      서울특별시 성북구 동선동3가 250-1번지  True
31        서울특별시 성북구 동소문동1가 51번지  True
32        서울특별시 성북구 동소문동1가 51번지  True
33        서울특별시 성북구 동소문동1가 51번지  True
34        서울특별시 성북구 동소문동1가 51번지  True
35        서울특별시 성북구 동소문동1가 51번지  True
36        서울특별시 성북구 동소문동1가 51번지  True
37        서울특별시 성북구 동소문동1가 51번지  True
38        서울특별시 성북구 동소문동1가 51번지  True
39        서울특별시 성북구 동소문동1가 51번지  True
56        서울특별시 성북구 동선동4가 294번지  True
57        서울특별시 성북구 동선동4가 294번지  True
58        서울특별시 성북구 동선동4가 294번지  True
59        서울특별시 성북구 동선동4가 294번지  True
60        서울특별시 성북구 동선동4가 294번지  True
61        서울특별시 성북구 동선동4가 294번지  True
62        서울특별시 성북구 동선동4가 294번지  True
63        서울특별시 성북구 동선동4가 294번지  True
64        서울특별시 성북구 동선동4가 294번지  True
65        서울특별시 성북구 동선동4가 294번지  True
...                         ...   ...
3048  서울특별시 영등포구 영등포동4가 155-1번지  True
3050    서울특별시 관악구 신림동 103-213번지  True
3065      서울특별시 강북구 미아동 197-9번지  True
3154      서울특별시 중구 충무로4가 90-1번지  True
3218   서울특별시 영등포구 영등포동 618-20번지  True
3221     서울특별시 중구 회현동1가 133-6번지  True
3286        서울특별시 송파구 마천동 304번지  True
3369     서울특별시 구로구 구로동 1125-3번지  True
3422     서울특별시 동대문구 장안동 459-1번지  True
3430    서울특별시 구로구 가리봉동 127-15번지  True
3495          서울특별시 중구 중림동 62번지  True
3512      서울특별시 강동구 성내동 380-7번지  True
3594      서울특별시 강동구 천호동 402-8번지  True
3700      서울특별시 동작구 노량진동 50-2번지  True
3705      서울특별시 서초구 잠원동 19-10번지  True
3746     서울특별시 관악구 봉천동 1594-7번지  True
3786    서울특별시 동대문구 이문동 291-32번지  True
3817       서울특별시 강남구 청담동 49-8번지  True
4023     서울특별시 동작구 노량진동 40-39번지  True
4057     서울특별시 영등포구 영등포동5가 29번지  True
4058     서울특별시 영등포구 영등포동5가 29번지  True
4060    서울특별시 동작구 신대방동 607-28번지  True
4467      서울특별시 중구 충무로3가 33-3번지  True
4559    서울특별시 관악구 봉천동 1673-16번지  True
4711       서울특별시 서초구 양재동 8-38번지  True
4736      서울특별시 은평구 갈현동 469-1번지  True
4816       서울특별시 영등포구 신길동 625번지  True
4853       서울특별시 구로구 고척동 53-2번지  True
4926        서울특별시 종로구 신영동 178번지  True
5020  서울특별시 성동구 성수동2가 277-105번지  True

[336 rows x 64 columns]>

In [25]:
res.head(1)

,관리건축물대장pk,대장구분코드,대장구분코드명,대장종류코드,대장종류코드명,구주소,도로명주소,건물명,시군구코드,법정동코드,...,사용승인일,생성일자,res,seq,연번,상호,업종,법정동 주소,도로명 주소,addr
0,11620-34535,1,일반,2,일반건축물,서울특별시 관악구 신림동 254-96번지,서울특별시 관악구 대학14길 77-12,NaN,11620,10200.0,...,20010522.0,20170217,0,263,4041,명신서원,고시원업,서울특별시 관악구 신림동 254-96,대학14길 77-12,서울특별시 관악구 신림동 254-96번지

In [15]:
df = df.drop_duplicates(subset=['구주소'], keep='first')

In [29]:
seq_list = list(res['seq'].values)

In [30]:
type(seq_list)

list

In [32]:
df['gosi'] = df['seq'].apply(lambda x: 1 if x in seq_list else 0)

In [33]:
aaa = df.loc[df['gosi'] == 1]

In [34]:
len(aaa.index)

5468

In [35]:
len(df.index)

544238

In [36]:
df.head()

,관리건축물대장pk,대장구분코드,대장구분코드명,대장종류코드,대장종류코드명,구주소,도로명주소,건물명,시군구코드,법정동코드,...,부속건축물면적,총동연면적,옥외자주식면적,허가일,착공일,사용승인일,생성일자,res,seq,gosi
0,11380-35135,1,일반,2,일반건축물,서울특별시 은평구 신사동 170-7번지,서울특별시 은평구 증산로17길 53-3,NaN,11380,10900.0,...,0.0,3.12,0.0,NaN,NaN,19711212.0,20120530,0,0,0
1,11380-10206,1,일반,2,일반건축물,서울특별시 은평구 불광동 480-42번지,서울특별시 은평구 통일로92길 18,NaN,11380,10300.0,...,0.0,3.37,0.0,NaN,NaN,19761227.0,20120530,0,1,0
2,11530-6198,1,일반,2,일반건축물,서울특별시 구로구 구로동 18-41번지,,NaN,11530,10200.0,...,0.0,31.07,0.0,NaN,NaN,19691030.0,20120530,0,2,0
3,11530-1106,1,일반,2,일반건축물,서울특별시 구로구 구로동 산 119번지,,NaN,11530,10200.0,...,0.0,39.27,0.0,NaN,NaN,19640901.0,20120519,0,3,0
4,11545-2865,1,일반,2,일반건축물,서울특별시 금천구 독산동 106번지,,NaN,11545,10200.0,...,0.0,76.03,0.0,NaN,NaN,19720912.0,20120530,0,4,0

In [145]:
len(aa.index)

544238